/* Recipiente Header */
.recipe-navbar {
    min-height: 90px;
    background-color: #2C3E50 ;
}

/* Altezza Contenuto Header */
.he-60 {
    min-height: 60px;
    background-color: #ffffff;
}

/* Logo */
.logo {
    width: 250px;
}

/* Lista */
.list {
    width: 60px;
}

/* Recipiente Professioni e Recipiente About */
.recipe-professions,
.recipe-about {
    background-color: #1ABC9C
}

/* Immagine */
.he-200 {
    min-height: 200px;
    min-width: 200px;
    background-color: #2C3E50;
}

/* Strat bootstarp */
.he-70 {
    min-height: 70px;
    background-color: #ffffff;
}

/* Riga Professioni */
.dash-professions {
    min-height: 30px;
    background-color: #ffffff;
}

/* Professioni */
.he-50 {
    background-color: #ffffff;
    min-height: 50px;
}

/* Titolo Portafoglio */
.h1-60 {
    min-height: 60px;
    background-color: #000000;
}

/* Riga portafoglio */
.dash {
    min-height: 30px;
    background-color: #000000;
}

/* Card */
.card {
    min-height: 300px;
}

/* Colori Card */
.color-BA4B63 {
    background-color: #BA4B63;
}

.color-1EA4B6 {
    background-color: #1EA4B6;
}

.color-140F0F {
    background-color: #140F0F;
}

.color-1C83C1 {
    background-color: #1C83C1;
}

.color-0E38B5 {
    background-color: #0E38B5;
}

.color-CCB2A3 {
    background-color: #CCB2A3;
}

/* Immagini dentro alle Card */
.border-r {
    height: 250px;
    width: 250px;
    background-color: #ffa500;
    margin: auto;
    border-radius: 50%;
}

.text-about {
    min-height: 500px;
    background-color: #ffffff;
}



/* ? Media Query */
@media screen and (min-width:768px) {
    /* Grandezza Link della lista hamburger */
    .list {
        width: 300px;
    }
}