/* ? Utility */

body {
    color: #ffffff;
}

/* Immagini */
img {
    max-width: 100%;
    display: block;
}

.fs-my {
    font-size: 50px;
}

.dash {
    height: 3px;
    width: 100px;
}

.dash-white {
    background-color: #ffffff;
}

.dash-black {
    background-color: #000000;
}

/* COLORI SFONDI */
.color-2C3E50 {
    background-color: #2C3E50;
}

.color-green {
    background-color: #1ABC9C;
}

.color-blu {
    background-color: #3A546D;
}

/* Link */
.my-navbar a {
    color: #ffffff;
    
}

/* Recipiente Immagine Avatar */
.recipe-avatar {
    width: 300px;
}

/* Testo Nero */
.text-black {
    color: #000000;
}








/* Altezza Header e Footer */
.he-90 {
    min-height: 90px;
}

.he-50 {
    min-height: 50px;
}



/* Altezza */
.he-90 {
    min-height: 90px;
}

.he-50 {
    min-height: 50px;
}

.he-80 {
    min-height: 80px;
}



.he-60 {
    min-height: 60px;
}

.he-400 {
    min-height: 400px;
}



/* Card */
.card {
    min-height: 300px;
}

/* Colori Card */
.color-BA4B63 {
    background-color: #BA4B63;
}

.color-1EA4B6 {
    background-color: #1EA4B6;
}

.color-140F0F {
    background-color: #140F0F;
}

.color-1C83C1 {
    background-color: #1C83C1;
}

.color-0E38B5 {
    background-color: #0E38B5;
}

.color-CCB2A3 {
    background-color: #CCB2A3;
}




