/* COLORI */
.color-2C3E50 {
    background-color: #2C3E50;
}

.color-green {
    background-color: #1ABC9C;
}

.color-white {
    background-color: #ffffff;
}

.color-black {
    background-color: #000000;
}

.color-blu {
    background-color: #3A546D;
}

/* Altezza Header e Footer */
.he-90 {
    min-height: 90px;
}

.he-50 {
    min-height: 50px;
}

/* Logo */
.logo {
    width: 250px;
}

/* Lista */
.list {
    width: 60px;
}

/* Altezza */
.he-90 {
    min-height: 90px;
}

.he-50 {
    min-height: 50px;
}

.he-80 {
    min-height: 80px;
}

.dash {
    min-height: 40px;
}

.he-60 {
    min-height: 60px;
}

.he-400 {
    min-height: 400px;
}

/* Immagine */
.he-200 {
    min-height: 200px;
    width: 200px;
    background-color: #2C3E50;
}

/* Card */
.card {
    min-height: 300px;
}

/* Colori Card */
.color-BA4B63 {
    background-color: #BA4B63;
}

.color-1EA4B6 {
    background-color: #1EA4B6;
}

.color-140F0F {
    background-color: #140F0F;
}

.color-1C83C1 {
    background-color: #1C83C1;
}

.color-0E38B5 {
    background-color: #0E38B5;
}

.color-CCB2A3 {
    background-color: #CCB2A3;
}

/* Immagini dentro alle Card */
.border-r {
    height: 250px;
    width: 250px;
    background-color: #ffffff46;
    margin: auto;
    border-radius: 50%;
}


/* ? Media Query */
@media screen and (min-width:768px) {
    /* Grandezza Link della lista hamburger */
    .list {
        width: 300px;
    }
}